<div id="boxgallery" class="boxgallery" data-effect="effect-1">
	<div class="bgpanel"><%= image_tag("image8_compressed.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("image9_compressed.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("image10_compressed.jpg", alt: "Beach") %></div>
	<div class="bgpanel"><%= image_tag("image11_compressed.jpg", alt: "Beach") %></div>
</div>

<div class="homebox">
	<h1>Foreign Savvy <span>travel more, spend less</span></h1>
	<div>
		<%= link_to "Tourism", tourism_path %>
		<%= link_to "Business", business_path %>
		<%= link_to "How it Works", timeline_path %>
	</div>
</div>

<script>
	new BoxesFx( document.getElementById( 'boxgallery' ) );
</script>