<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered display order-column table-hover">
  <thead>
    <tr class="business">
      <th data-class="expand"><%= t 'jumbotron.table.symbol' %></th>
      <th data-hide="phone,tablet"><%= t 'jumbotron.table.country' %></th>
      <th data-hide="phone,tablet,lg"><%= t 'jumbotron.table.costofliving' %></th>
      <th data-hide="phone,tablet,lg"><%= t 'jumbotron.table.bigmac' %></th>
      <th data-hide="phone" class="util">Utilities/85m² (electric, heat, water, garbage)</th>
      <th data-hide="phone,tablet">Internet (6mbps)</th>
      <th data-hide="phone, tablet">Monthly Transit</th>
      <th data-hide="phone,tablet,lg">3bdr Apartment Downtown</th>
      <th>Avg. Monthly Salary</th>
      <th data-hide="phone,tablet,lg"><i class="fa fa-exchange"></i> <%= t 'jumbotron.table.month' %></th>
      <th><i class="fa fa-exchange year"></i> <%= t 'jumbotron.table.year' %></th>
    </tr>
  </thead>

  <tbody>
    <% currencies.each do |currency| %>
      <tr>
          <td><%= currency.currencyname %><a href="<%= currency.wikilink %>" target="_blank"><i class="fa fa-info-circle linkicon"></i></a></td>
          <td><%= currency.name %></td>
          <td><a href="<%= currency.livingcost %>" target="_blank"><i class="fa fa-external-link fa-lg"></i></a></td>
          <td><%= number_to_currency(currency.bmi, unit: symbol) %></td>
          <td><%= number_to_currency(currency.commute, unit: symbol) %></td>
          <td><%= number_to_currency(currency.utilities, unit: symbol) %></td>
          <td><%= number_to_currency(currency.internet, unit: symbol) %></td>
          <td><%= number_to_currency(currency.apt, unit: symbol) %></td>
          <td><%= number_to_currency(currency.salary, unit: symbol) %></td>
          <td>
            <% unless currency.monthlychange < 0 %>
              +
            <% end %>
            <%= number_to_percentage(currency.monthlychange * 100, precision: 2) %>
            <% if currency.monthlychange > 0 %>
              <span class="glyphicon glyphicon-arrow-up iconright iconup"></span>
            <% elsif currency.monthlychange < 0 %>
              <span class="glyphicon glyphicon-arrow-down iconright icondown"></span>
            <% end %>
          </td>
          <td>
            <% unless currency.yearlychange < 0 %>
              +
            <% end %>
            <%= number_to_percentage(currency.yearlychange * 100, precision: 2) %> 
            <% if currency.yearlychange > 0 %>
              <span class="glyphicon glyphicon-arrow-up iconright iconup"></span>
            <% elsif currency.yearlychange < 0 %>
              <span class="glyphicon glyphicon-arrow-down iconright icondown"></span>
            <% end %>
          </td>
          <!-- <td><%= link_to 'Show', currency %></td>
          <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
          <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
