<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered display order-column table-hover">
  <thead>
    <tr>
      <th data-class="expand">Name</th>
      <th data-hide="phone,tablet">Region</th>
      <th data-hide="phone">Weekly Change</th>
      <th data-hide="phone">Monthly Change</th>
      <th>Yearly Change</th>
    </tr>
  </thead>

  <tbody>
    <% currencies.each do |currency| %>
      <tr>
          <td><%= currency.name %></td>
          <td><%= currency.region %></td>
          <td>
            <% unless currency.weeklychange < 0 %>
              +
            <% end %>
            <%= currency.weeklychange * 100 %>%</td>
          <td>
            <% unless currency.monthlychange < 0 %>
              +
            <% end %>
            <%= currency.monthlychange * 100 %>%</td>
          <td>
            <% unless currency.yearlychange < 0 %>
              +
            <% end %>
            <%= currency.yearlychange * 100%>%
          </td>
          <!-- <td><%= link_to 'Show', currency %></td>
          <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
          <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<div id="buyingpower">
  <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    How to use this chart&nbsp;
    <i class="fa fa-question-circle fa-lg"></i>
  </button><script>$(function () { $("[data-toggle='popover']").popover(); });</script>
</div>