<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered display order-column table-hover">
  <thead>
    <tr>
      <th data-class="expand"><%= t 'jumbotron.table.symbol' %></th>
      <th data-hide="phone"><%= t 'jumbotron.table.country' %></th>
      <th data-hide="phone,tablet"><%= t 'jumbotron.table.costofliving' %></th>
      <th data-hide="phone"><%= t 'jumbotron.table.bigmac' %></th>
      <th data-hide="phone,tablet"><%= t 'jumbotron.table.month' %></th>
      <th><%= t 'jumbotron.table.year' %></th>
    </tr>
  </thead>

  <tbody>
    <% currencies.each do |currency| %>
      <tr>
          <td><%= currency.currencyname %></td>
          <td><%= currency.name %></td>
          <td><a href="<%= currency.livingcost %>" target="_blank"><i class="fa fa-external-link fa-lg"></i></a></td>
          <td><%= number_to_currency(currency.bmi, unit: symbol) %></td>
          <td>
            <% unless currency.monthlychange < 0 %>
              +
            <% end %>
            <%= number_to_percentage(currency.monthlychange, precision: 2) %>
            <% if currency.monthlychange > 0 %>
              <i class="fa fa-arrow-up iconright iconup"></i>
            <% else %>
              <i class="fa fa-arrow-down iconright icondown"></i>
            <% end %>
          </td>
          <td>
            <% unless currency.yearlychange < 0 %>
              +
            <% end %>
            <%= number_to_percentage(currency.yearlychange, precision: 2) %> 
            <% if currency.yearlychange > 0 %>
              <i class="fa fa-arrow-up iconright iconup"></i>
            <% else %>
              <i class="fa fa-arrow-down iconright icondown"></i>
            <% end %>
          </td>
          <!-- <td><%= link_to 'Show', currency %></td>
          <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
          <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
