<%= form_for(@currency) do |f| %>
  <% if @currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
      <% @currency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyid %><br>
    <%= f.text_field :keyid %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :currencyname %><br>
    <%= f.text_field :currencyname %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :livingcost %><br>
    <%= f.text_field :livingcost %>
  </div>
  <div class="field">
    <%= f.label :bmi %><br>
    <%= f.text_field :bmi %>
  </div>
  <div class="field">
    <%= f.label :currencyfor %><br>
    <%= f.text_field :currencyfor %>
  </div>
  <div class="field">
    <%= f.label :weeklychange %><br>
    <%= f.text_field :weeklychange %>
  </div>
  <div class="field">
    <%= f.label :monthlychange %><br>
    <%= f.text_field :monthlychange %>
  </div>
  <div class="field">
    <%= f.label :yearlychange %><br>
    <%= f.text_field :yearlychange %>
  </div>
  <div class="field">
    <%= f.label :wikilink %><br>
    <%= f.text_field :wikilink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
