<div class="center jumbotron" id="maindisplay">
  <h2>
    Get the most out of your currency while traveling abroad
  </h2>

  <h3>(select your home currency from below)</h3>
  

  <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li><a href="#section-1" class="icon-shop" type="submit" name="index" value="USD"><span>USD</span></a></li>
        <li><a href="#section-2" class="icon-cup" type="submit" name="index" value="EUR"><span>EUR</span></a></li>
        <li><a href="#section-3" class="icon-food" type="submit" name="index" value="GBP"><span>GBP</span></a></li>
        <li><a href="#section-4" class="icon-lab" type="submit" name="index" value="RUB"><span>RUB</span></a></li>
        <li><a href="#section-5" class="icon-truck" type="submit" name="index" value="CNY"><span>CNY</span></a></li>
      </ul>
    </nav>
    <div class="content">
      <section id="section-1">
        <h2>Changes in exchange rates relative to US Dollars</h2>
        <div id="currencies"><%= render 'currencies', :currencies => @USDcurrencies %></div>
      </section>
      <section id="section-2">
        <h2>Changes in exchange rates relative to EU Euros</h2>
        <div id="currencies"><%= render 'currencies', :currencies => @EURcurrencies %></div>
      </section>
      <section id="section-3">
        <h2>Changes in exchange rates relative to US Dollars</h2>
        <div id="currencies"><%= render 'currencies', :currencies => @GBPcurrencies %></div>
      </section>
      <section id="section-4">
        <h2>Changes in exchange rates relative to US Dollars</h2>
        <div id="currencies"><%= render 'currencies', :currencies => @RUBcurrencies %></div>
      </section>
      <section id="section-5">
        <h2>Changes in exchange rates relative to US Dollars</h2>
        <div id="currencies"><%= render 'currencies', :currencies => @CNYcurrencies %></div>
      </section>
    </div><!-- /content -->
  </div><!-- /tabs -->
  <script>
      new CBPFWTabs( document.getElementById( 'tabs' ) );
  </script>

  <br>
</div>

<div class="connect">
  <span>Get the latest tourist exchange rate news and tips</span><br>
  <i class="fa fa-facebook-square fa-2x"></i>&nbsp;
  <i class="fa fa-twitter-square fa-2x"></i>&nbsp;
  <%= link_to "Sign up for our newsletter", '#', class: "btn btn-large btn-primary" %>
</div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <i class="fa fa-check-square-o fa-lg"></i>&nbsp;What You Need to Know<i class="fa fa-plus-square iconright"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <i class="fa fa-check-square-o fa-lg"></i>&nbsp;Getting the Best Rate<i class="fa fa-plus-square iconright"></i>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <i class="fa fa-check-square-o fa-lg"></i>&nbsp;Getting the Best Value<i class="fa fa-plus-square iconright"></i>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<section class="grid-wrap">
  <ul class="grid swipe-right" id="grid">
    <li><a href="#"><img src="assets/pyramids2.png" alt="Egyptian pyramids"><h3>Egyptian pyramids</h3></a></li>
    <li><a href="#"><img src="assets/eiffeltower.PNG" alt="Eiffel Tower"><h3>Eiffel Tower of Paris</h3></a></li>
    <li><a href="#"><img src="assets/colosseum.png" alt="Colosseum of Rome"><h3>Colosseum of Rome</h3></a></li>
    <li><a href="#"><img src="assets/bigben.png" alt="Big Ben" alt="img02"><h3>London’s Big Ben</h3></a></li>
    <li><a href="#"><img src="assets/operahouse.png" alt="Sydney Opera House"><h3>Sydney Opera House</h3></a></li>
    <li><a href="#"><img src="assets/redentor.png" alt="Cristo Redentor"><h3>Rio de Janeiro’s Cristo Redentor</h3></a></li>
    <li><a href="#"><img src="assets/moais.png" alt="Moais"><h3>Moais of the Easter Islands</h3></a></li>
    <li><a href="#"><img src="assets/tajmahal.PNG" alt="Taj Mahal of Agra"><h3>Taj Mahal of Agra</h3></a></li>
    <li><a href="#"><img src="assets/windmill.PNG" alt="Dutch windmill"><h3>The Netherlands</h3></a></li>
    <li><a href="#"><img src="assets/temple.PNG" alt="Chichén Itzá"><h3>Chichén Itzá in Mexico</h3></a></li>
    <li><a href="#"><img src="assets/bridge.PNG" alt="Golden Gate Bridge"><h3>Golden Gate Bridge of San Francisco</h3></a></li>
    <li><a href="#"><img src="assets/stonehenge.PNG" alt="Stonehenge"><h3>Stonehenge of Wiltshire, England</h3></a></li>
    <li><a href="http://www.shaundona.com/"><img src="assets/attrimg.png" alt="Shaun Dona">
      <h3>Illustrations by<br>Shaun Dona</h3></a>
    </li>
  </ul>
  <div class="morph-button morph-button-modal morph-button-modal-1 morph-button-fixed">
  <button type="button">About</button>
  <div class="morph-content">
    <div>
      <div class="content-style-text">
        <h2>About The Tourist Exchange</h2>
        <p>Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut juccama green bean celtuce collard greens avocado quandong <strong>fennel gumbo</strong> black-eyed pea. Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea <strong>tomato spring onion</strong> azuki bean gourd.</p>
        <span class="icon icon-close"></span>
      </div>
    </div>
  </div>
</div><!-- morph-button -->
</section>
<script>
  new GridScrollFx( document.getElementById( 'grid' ), {
    viewportFactor : 0.4
  } );
</script>

<script>
  (function() { 
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    var UIBtnn = new UIMorphingButton( document.querySelector( '.morph-button' ), {
      closeEl : '.icon-close',
      onBeforeOpen : function() {
        // don't allow to scroll
        noScroll();
      },
      onAfterOpen : function() {
        // can scroll again
        canScroll();
      },
      onBeforeClose : function() {
        // don't allow to scroll
        noScroll();
      },
      onAfterClose : function() {
        // can scroll again
        canScroll();
      }
    } );
  })();
</script>