<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @currency.region %>
</p>

<p>
  <strong>Currencyfor:</strong>
  <%= @currency.currencyfor %>
</p>

<p>
  <strong>Weeklychange:</strong>
  <%= @currency.weeklychange %>
</p>

<p>
  <strong>Monthlychange:</strong>
  <%= @currency.monthlychange %>
</p>

<p>
  <strong>Yearlychange:</strong>
  <%= @currency.yearlychange %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Destroy', @currency, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', currencies_path %>
